
<ion-header class="ion-no-border">
  <ion-toolbar color="amajusoLight">
    <ion-title>Nueva publicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="amajusoLight">
  <form [formGroup]="editorForm">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="full">
        <ion-label color="light" position="fixed">Título</ion-label>
        <ion-input color="light" clearInput name="title" formControlName="title"></ion-input>
      </ion-item>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item lines="full">
      <ion-label color="light">Tipo</ion-label>
      <ion-select name="category" formControlName="category" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  </ion-row>

<ion-row class="ion-padding">
  <quill-editor
  [modules]="editorModules" 
  formControlName="editor"
  [styles]="{height: '200px'}" 
	(onEditorChanged)="changedEditor($event)"
  ></quill-editor>
</ion-row>
</ion-grid>
</form>

<ion-grid class="ion-margin">
<ion-row>
  <ion-label>Vista previa</ion-label>
<div [innerHTML]="content"></div>
</ion-row>
</ion-grid>
</ion-content>


